<!DOCTYPE html>
<html>
    <head>
        <title>Webscraper</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/dataTables.bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />

    	<script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/jquery.dataTables.min.js"></script>
        <script src="/javascripts/dataTables.bootstrap.min.js"></script>
        <script src="/javascripts/script.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        Webscraper
                    </a>
                </div>
            </div>
        </nav>
        
        {{{body}}}

    </body>
</html>
